<!DOCTYPE html>
<html>
<head>
    <title>PlanUR</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link href="{{ url_for('static', filename='images/image.jpg') }}">
    <link rel="stylesheet" type = "text/css" href='../static/css/styles.css'>
</head>
<body>
    <div class="main_title">
        <h1></h1>
        <img src="../static/images/ove-removebg-preview (1).png">
    </div>
    <div class="center-text">
        <form action = "{{url_for('predict')}}" method = "post" >
            <h2>Enter city name:</h2>
        <input type="text" name = "location" id="inputbox" >
        <br>
        <br>
        <input type ="submit" id="submitbutton"><br><br>
        <div class ="noinput">{{noinput}}</div>
        </form>

</body>
</html>